// This file is empty within the template
// You can use it to override CSS from within your project
 
figcaption {
    text-align: center;
    position: relative;
    top: -20px;
    padding: 2px 0;
}

figure {
    margin: auto;
    max-width: 90%;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

img {
    border-radius: 8px;
}

.directores {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: left;
}

.directores img {
    margin: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

h4 {
    font-size: 1.1rem;
    font-weight: 400;
    color: $text-color;
}

.boton {
    display: inline-block;
    border: none;
    border-radius: 0;
    background-color: $white;
    min-height: 200px;
    max-height: 200px;
    min-width: 70px;
    align-self: center;
}

.boton:hover {
    background-color: $light;
}

.galeria {
    display: flex;
}